@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgba(249, 173, 0);
  --secondary-color: rgba(0, 0, 54, 0.5);
  --text-color: rgba(255, 211, 107, 0.932);
  --background-gradient: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.562));
}


body {
  background-image: var(--background-gradient), url(../img/fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}


.navbar {
  background-image: linear-gradient(
    112.1deg,
    rgba(0, 0, 0, 0) 11.4%,
    rgba(0, 2, 95, 0.555) 75.2%
  );
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(249, 173, 0)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  .logo-header {
    width: 190px;
    height: 126px;
  }

  .carrito {
    width: 35px;
    height: 30px;
    margin-right: 100px;
  }
}

.navbar-nav .nav-link,
.log-cart .nav-link {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-nav .nav-link:hover,
.log-cart .nav-link:hover {
  color: white;
  text-shadow: 
    0 0 15px rgb(21, 0, 114), 
    0 0 10px rgb(92, 89, 255),
    0 0 6px rgb(15, 0, 153);
}

.navbar-nav .nav-link::after,
.log-cart .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffeb3b;
  transition: width 0.5s ease, left 0.5s ease;
}

.navbar-nav .nav-link:hover::after,
.log-cart .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.log-cart {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50px;

  i {
    color: var(--primary-color);
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &:hover {
      color: white;
      text-shadow: 
        0 0 15px rgb(21, 0, 114), 
        0 0 10px rgb(92, 89, 255),
        0 0 6px rgb(15, 0, 153);
    }
  }
}

.promo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;

  .card {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: var(--text-color);

    .btn {
      background-color: var(--secondary-color);
      border: 1px solid rgba(249, 174, 0, 0.658);
      color: var(--text-color);
      transition: color 2s ease, text-shadow 2s ease;

      &:hover {
        color: white;
        text-shadow: 
          0 0 15px rgb(21, 0, 114), 
          0 0 10px rgb(92, 89, 255),
          0 0 6px rgb(15, 0, 153);
      }

      i {
        margin-left: 15px;
      }
    }
  }
}

.noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .card,
  iframe {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: rgba(255, 242, 213, 0.932);
  }
}

.card-video-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.video iframe {
  width: 200px;
  height: 200px;
}


.footer {
  background-image: linear-gradient(
    292.1deg,
    rgba(0, 0, 0, 0) 11.4%,
    rgba(0, 2, 95, 0.555) 75.2%
  );
  color: white;
  padding: 25px;

  .footer-contenido {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-social {
    a {
      font-size: 30px;
      margin-right: 20px;
      color: var(--primary-color);
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        color: rgba(255, 255, 255, 0.527);
        text-shadow: 
          0 0 15px rgb(21, 0, 114), 
          0 0 10px rgb(92, 89, 255),
          0 0 6px rgb(15, 0, 153);
      }
    }
  }

  .footer-info {
    color: var(--primary-color);
  }
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socio-form {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 38, 255);
  box-shadow: 0 0 10px rgb(238, 255, 0);
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 700px;
  margin: 20px;
}

.productos {
  h2 {
    color: var(--primary-color);
  }

  .fa-cart-plus {
    margin-right: 12px;
  }

  .btn {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: var(--text-color);
    transition: color 2s ease;

    &:hover {
      color: white;
      text-shadow: 
        0 0 15px rgb(21, 0, 114), 
        0 0 10px rgb(92, 89, 255),
        0 0 6px rgb(15, 0, 153);
    }
  }

  .h-100 {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 38, 255);
    box-shadow: 0 0 10px rgb(238, 255, 0);
    font-family: "Rubik", sans-serif;
    color: var(--primary-color);
  }
}

.card-producto {
  width: 18rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 38, 255);
  box-shadow: 0 0 10px rgb(238, 255, 0);
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    font-size: 1rem;
    color: var(--text-color);
    font-family: "Rubik", sans-serif;
    margin-bottom: 6px;
  }

  input,
  textarea {
    color: white;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid rgba(249, 174, 0, 0.658);
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: transparent;

    &:focus {
      outline: none;
      border: 1px solid rgb(0, 38, 255);
      box-shadow: 0 0 10px rgb(238, 255, 0);
    }
  }
}

textarea {
  resize: none;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(249, 174, 0, 0.658);
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: white;
    text-shadow: 
      0 0 15px rgb(21, 0, 114), 
      0 0 10px rgb(92, 89, 255),
      0 0 6px rgb(15, 0, 153);
    border: 1px solid rgb(0, 38, 255);
    box-shadow: 0 0 10px rgb(238, 255, 0);
  }
}


@media (max-width: 767px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .noticias {
      margin-left: 20px;
    }
  }

  .navbar-brand .carrito {
    width: 40px;
    height: 35px;
    margin-right: 100px;
  }

  .header .menu {
    .contenido-menu {
      padding: 25px;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .opciones ul {
      display: flex;
      justify-content: end;
      gap: 10px;
      margin: 0px;
    }

    a {
      font-size: 16px;
      letter-spacing: 3px;
      margin-right: 0;
    }
  }

  iframe {
    display: none;
  }

  .promo {
    display: none;
  }

  .footer {
    text-align: center;

    .img-footer {
      display: none;
    }
  }
}