@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgba(249, 173, 0);
  --secondary-color: rgba(0, 0, 54, 0.5);
  --text-color: rgba(255, 211, 107, 0.932);
  --background-gradient: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.562));
}


body {
  background-image: var(--background-gradient), url(../img/fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* MENU Y HEADER */
.navbar {
  background-image: linear-gradient(
    112.1deg,
    rgba(0, 0, 0, 0) 11.4%,
    rgba(0, 2, 95, 0.555) 75.2%
  );
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(249, 173, 0)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  .logo-header {
    width: 190px;
    height: 126px;
  }

  .carrito {
    width: 35px;
    height: 30px;
    margin-right: 100px;
  }
}

.navbar-nav .nav-link,
.log-cart .nav-link {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-nav .nav-link:hover,
.log-cart .nav-link:hover {
  color: white;
  text-shadow: 
    0 0 15px rgb(21, 0, 114), 
    0 0 10px rgb(92, 89, 255),
    0 0 6px rgb(15, 0, 153);
}

.navbar-nav .nav-link::after,
.log-cart .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffeb3b;
  transition: width 0.5s ease, left 0.5s ease;
}

.navbar-nav .nav-link:hover::after,
.log-cart .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.log-cart {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50px;

  i {
    color: var(--primary-color);
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &:hover {
      color: white;
      text-shadow: 
        0 0 15px rgb(21, 0, 114), 
        0 0 10px rgb(92, 89, 255),
        0 0 6px rgb(15, 0, 153);
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* PROMOCIONES CARDS INDEX */
.promo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;

  .card {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: var(--text-color);

    .btn {
      background-color: var(--secondary-color);
      border: 1px solid rgba(249, 174, 0, 0.658);
      color: var(--text-color);
      transition: color 2s ease, text-shadow 2s ease;

      &:hover {
        color: white;
        text-shadow: 
          0 0 15px rgb(21, 0, 114), 
          0 0 10px rgb(92, 89, 255),
          0 0 6px rgb(15, 0, 153);
      }

      i {
        margin-left: 15px;
      }
    }
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* NOTICIAS INDEX */

.noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .card,
  iframe {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: rgba(255, 242, 213, 0.932);
  }

  .card-video-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .video iframe {
    width: 200px;
    height: 200px;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* NOTICIAS INDEX */

.footer {
  background-image: linear-gradient(
    292.1deg,
    rgba(0, 0, 0, 0) 11.4%,
    rgba(0, 2, 95, 0.555) 75.2%
  );
  color: white;
  padding: 25px;

  .footer-contenido {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-social {
    a {
      font-size: 30px;
      margin-right: 20px;
      color: var(--primary-color);
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        color: rgba(255, 255, 255, 0.527);
        text-shadow: 
          0 0 15px rgb(21, 0, 114), 
          0 0 10px rgb(92, 89, 255),
          0 0 6px rgb(15, 0, 153);
      }
    }
  }

  .footer-info {
    color: var(--primary-color);
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* FORMULARIO SOCIO */

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;

  .socio-form {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 38, 255);
    box-shadow: 0 0 10px rgb(238, 255, 0);
    font-family: "Rubik", sans-serif;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 700px;
    margin: 20px;
  
    .form-group {
      margin-bottom: 20px;
    
      label {
        display: block;
        font-size: 1rem;
        color: var(--text-color);
        font-family: "Rubik", sans-serif;
        margin-bottom: 6px;
      }
    
      input,
      textarea {
        color: white;
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        border: 2px solid rgba(249, 174, 0, 0.658);
        font-family: "Rubik", sans-serif;
        border-radius: 5px;
        transition: all 0.3s ease;
        background-color: transparent;
        resize: none;
    
        &:focus {
          outline: none;
          border: 1px solid rgb(0, 38, 255);
          box-shadow: 0 0 10px rgb(238, 255, 0);
        }
      }
    }
    
    button[type="submit"] {
      width: 100%;
      padding: 12px;
      background-color: var(--secondary-color);
      border: 1px solid rgba(249, 174, 0, 0.658);
      color: var(--text-color);
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    
      &:hover {
        color: white;
        text-shadow: 
          0 0 15px rgb(21, 0, 114), 
          0 0 10px rgb(92, 89, 255),
          0 0 6px rgb(15, 0, 153);
        border: 1px solid rgb(0, 38, 255);
        box-shadow: 0 0 10px rgb(238, 255, 0);
      }
    }
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* SHOP CARDS */

.productos {
  h2 {
    color: var(--primary-color);
  }

  .fa-cart-plus {
    margin-right: 12px;
  }

  .card:hover {
    background-image: linear-gradient(
      112.1deg,
      rgba(255, 217, 0, 0.178) 11.4%,
      rgba(0, 2, 95, 0.555) 75.2%
    );

    cursor: pointer;
    border-image: linear-gradient(45deg, blue, orange, blue, orange, blue, orange, blue);
    border-image-slice: 1; 
  }

  .card,
  .btn {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: var(--text-color);
    transition: color 2s ease, text-shadow 2s ease;
  }

  .btn {
    &:hover {
      color: white;
      text-shadow: 
        0 0 15px rgb(21, 0, 114), 
        0 0 10px rgb(92, 89, 255),
        0 0 6px rgb(15, 0, 153);
    }

    i {
      margin-left: 15px;
    }
  }

  .h-100 {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 38, 255);
    box-shadow: 0 0 10px rgb(238, 255, 0);
    font-family: "Rubik", sans-serif;
    color: var(--primary-color);
  }

  .btn-link {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: var(--text-color);
    transition: color 2s ease, text-shadow 2s ease;
    text-decoration: none;
    font-size: 12px;

    &:hover {
      color: white;
      text-shadow: 
        0 0 15px rgb(21, 0, 114), 
        0 0 10px rgb(92, 89, 255),
        0 0 6px rgb(15, 0, 153);
    }
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* CARRITO CARDS */

.carrito-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #00000000, #00000000);
  
  .carrito-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    border-radius: 15px;
    
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    color: var(--text-color);
  }
  
  
  .carrito-card img {
    max-width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
  }
  
  .carrito-card-body {
    text-align: center;
    z-index: 2;
    color: var(--text-color);
  }
  
  .carrito-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    margin: 10px 0;
    color: var(--text-color);
  }
  
  .carrito-card-text {
    font-size: 14px;
    color: #555;
    color: var(--text-color);
  }
  
  .carrito-btn {
    background-color: var(--secondary-color);
    border: 1px solid rgba(249, 174, 0, 0.658);
    color: var(--text-color);
    transition: color 2s ease, text-shadow 2s ease;
  }
  
  .carrito-btn:hover {
    color: white;
    text-shadow: 
      0 0 15px rgb(21, 0, 114), 
      0 0 10px rgb(92, 89, 255),
      0 0 6px rgb(15, 0, 153);
  }
}


























































@media (max-width: 767px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .noticias {
      margin-left: 20px;
    }
  }

  .navbar-brand .carrito {
    width: 40px;
    height: 35px;
    margin-right: 100px;
  }

  .header .menu {
    .contenido-menu {
      padding: 25px;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .opciones ul {
      display: flex;
      justify-content: end;
      gap: 10px;
      margin: 0px;
    }

    a {
      font-size: 16px;
      letter-spacing: 3px;
      margin-right: 0;
    }
  }

  iframe {
    display: none;
  }

  .promo {
    display: none;
  }

  .footer {
    text-align: center;

    .img-footer {
      display: none;
    }
  }
}